.skills{
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.skills__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3-column layout */
    gap: 20px;
    padding: 20px;
  }

  .skills__tools{
    background-color: antiquewhite;
    margin: 10px 10%;
    color: black;
    padding: 5px 0;
  }

  .skills__icons{
    display: flex;
    justify-content: space-evenly;
  }