.experiencecard{
    margin: 20px 20%;
    position: relative;
    --tw-text-opacity: 0.5;
    border: 2px solid  rgb(0 51 89/var(--tw-text-opacity));
    display: flex;
    flex-direction: column;
}

.experiencecard:hover{
    filter: drop-shadow(10px 10px 1em #646cffaa);
}


.experiencecard__position{
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


.experiencecard__position-text{
    text-transform: uppercase;
}

.experiencecard__position-text{
   margin: 5px;
    font-weight: bold;
}


.experiencecard__text{
    padding: 16px;
}

ul{
    text-align: justify;
}

.experiencecard__title{
    text-transform: uppercase;
}