.about{
    background-image: url(../../about.jpeg);
    background-size: cover;
    background-position: center;
    justify-self: center;
    margin-top: 40px;;
    width: 95%;
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid white;
    gap: 100px;
    transition: gap 2s ease-out;
    margin-top: 100px;
    
}

.about:hover {
    gap: 500px;
}

.about__developer{
    background-image: url(../../me.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 345px;
    border-radius: 10px;
}

.about__info{
    background-color: #CEC9C6;
    padding: 20px;
    height: fit-content;
    width: 400px;
    border-radius: 10px;
    font-weight: bold;
    border: 10px solid white;

}
