.skillcard{
    padding: 0 60px;
}


.skillcard__total{
    border: 1px solid black;
}

.skillcard__value{
    height: 15px;
    background-color: #CEC9C6;
    box-shadow: 0px 0px 5px 0px #000 inset;
}

.skillcard__text{
    transition: color 0.5s ease-in;
}

.skillcard:hover .skillcard__text{
    color: rgb(0 51 89/var(--tw-text-opacity));
}

.skillcard:hover .skillcard__value{
    --tw-text-opacity: 0.6;
    background-color: rgb(0 51 89/var(--tw-text-opacity));
}

.skillcard__total{
    height: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #000 inset;
}

.skillcard__text{
    display: flex;
    justify-content:space-between;
    padding: 16px 0;
}

