.skillcard{
    padding: 0 60px;
}


.skillcard__total{
    border: 1px solid black;
}

.skillcard__value{
    height: 15px;
    background-color: #CEC9C6;
    box-shadow: 0px 0px 5px 0px #000 inset;
}

.skillcard__text{
    transition: color 0.5s ease-in;
}

.skillcard__total{
    height: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #000 inset;
}

.skillcard__text{
    display: flex;
    justify-content:space-between;
    padding: 16px 0;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 500px) {
    .skillcard{
        padding: 0 30px;
    }
    .skillcard__title{
        text-align: left;
    }
}
