.skills{
    padding-bottom: 30px;
    border-bottom: 5px solid white;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
}

.skills__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3-column layout */
    gap: 20px;
    padding: 20px;
  }

  .skills__tools{
    display: flex;
    flex-wrap: wrap; /* Allows items to move to a new line if needed */
    justify-content: center;
    margin: 10px 10%;
    color: black;
    padding: 5px 0;
  }

  .skills__logo{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.skills__logo:hover {
    transform: scale(1); 
  }


  .skills__icons{
    display: flex;
  
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
  }

  .skills__icons a::before{
    content: attr(data-language);
    position: absolute;
    background-color: var(--primary-color);
    color: whitesmoke;
    text-decoration: none;
    padding: 0.2em 1em;
    border-radius: 50px;
    transform: translateY(-18px) translateX(18px) rotate(25deg);
    opacity:0; 
    transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
  }

  .skills__icons a:hover::before{
    transform: translateY(-45px) translateX(-20px) rotate(0);
    opacity:1;
  }

  .skills__icons a::after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid var(--primary-color);
    transform: translateY(-10px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
  }

  .skills__icons a:hover::after{
    transform: translateY(-18px) translateX(-25px) rotate(0);
    opacity: 1;
  }


  @media screen and (max-width: 500px) {
    .skills{
      padding-bottom: 0;
    }

    .skills__grid-container {
      grid-template-columns: repeat(1, 1fr); /* 3-column layout */
      gap: 20px;
      padding: 20px;
    }
    .skills__grid-button{
      color: var(--primary-color);
      background-color: antiquewhite;
      width: 50vw;
      margin: 20px auto 0 auto;
    }
}