.skills{
    padding-bottom: 30px;
    border-bottom: 5px solid white;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
}

.skills__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3-column layout */
    gap: 20px;
    padding: 20px;
  }

  .skills__tools{
    display: flex;
    flex-wrap: wrap; /* Allows items to move to a new line if needed */
    justify-content: center;
    margin: 10px 10%;
    color: black;
    padding: 5px 0;
  }

  .skills__logo{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.skills__logo:hover {
    transform: scale(2); 
  }


  .skills__icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
  }

  @media screen and (max-width: 500px) {
    .skills__grid-container {
      grid-template-columns: repeat(1, 1fr); /* 3-column layout */
      gap: 20px;
      padding: 20px;
    }
    .skills__grid-button{
      background-color: rgb(0 51 89/var(--tw-text-opacity));
      width: 50vw;
      margin: 20px auto 0 auto;
    }
}