.about{
    background-image: url(../../assets/about.jpeg);
    background-size: cover;
    background-position: center;
    justify-self: center;
    margin-top: 40px;;
    width: 95%;
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid white;
    gap: 100px;
    transition: gap 2s ease-out;
    margin-top: 50px;
    
}

.about:hover {
    gap: 20vw;
}

.about__developer{
    background-image: url(../../assets/me.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 345px;
    border-radius: 10px;
}

.about__info{
    background-color: antiquewhite;
    color: var(--primary-color);
    padding: 20px;
    height: fit-content;
    width: 400px;
    border-radius: 10px;
    font-weight: bold;
    border: 10px solid white;

}

.about__info-text{
    text-align: justify;
}

@media screen and (max-width: 500px) {
    .about{
        margin-top: 60px;
        padding: 50px 0;
        gap: 20px;
        flex-direction: column;
    }
    .about {
        gap: 40px;
    }
    .about__developer{
        height: 280px;
        width: 200px;
    }
    .about__info{
        width: 70%;
    }
    
}

