.header{
    width: 100%;
    border-bottom: 5px solid white;
    color: antiquewhite;
    --tw-text-opacity: 1;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
}

.header__menu-toggle{
    display: none;
}

.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

.header__context{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-transform: uppercase;
    
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__context-language{
    display: flex;
    align-items: center;
    
}

.header__language-option{
    width: 80%;
    align-self: center;
}

.header__context-font{
    display: flex;
    align-items: center;
}

.header__label{
    margin: 0 20px;
    cursor: pointer;
}

.header__link{
    margin: 0 20px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    color: antiquewhite;
}

.header__link:hover{
    transform: scale(1.2);
    color: antiquewhite;
}

.header__logo-nav{
    display: flex;
    gap: 32px;
    padding-left: 12px;
}


@media screen and (max-width: 500px) {
    .header__context{
        gap: 0;
    }
    .header__link{
        margin: 0 10px;
    }
    .header__label{
        margin: 0 10px;
    }
    .header{
        width: 100vw;
    }
    .header__nav{
        display: none;
    }
    .header__menu-toggle{
        display: block;
        align-content: center;
    }

    .header__nav-mobile {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        position: absolute;
        background-color: var(--primary-color);
        border: 1px solid whitesmoke;
    }
    
    .menu-toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        user-select: none;
    }

    .header__dev-logo{
        width: 40px;
        
    }
    
    .arrow {
        transition: transform 0.3s ease;
        margin-left: 8px;
    }

    .open .arrow {
        transform: rotate(180deg); /* Rotates the arrow when open */
    }

    .menu-link-mobile{
        border-bottom: 1px solid whitesmoke;
    }

}