.experiencecard{
    margin: 20px 20%;
    position: relative;
    --tw-text-opacity: 0.5;
    border: 2px solid  rgb(0 51 89/var(--tw-text-opacity));
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.experiencecard:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}


.experiencecard__position{
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.experiencecard__text-title{
    font-weight: bold;
    text-decoration: underline;
    
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


.experiencecard__position-text{
    text-transform: uppercase;
}

.experiencecard__position-text{
   margin: 5px;
    font-weight: bold;
}


.experiencecard__text{
    padding: 0 16px 8px 16px;
}

ul{
    text-align: justify;
}

.experiencecard__title{
    text-transform: uppercase;
}