.experiencecard{
    margin: 20px 20%;
    position: relative;
    --tw-text-opacity: 0.5;
    
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.experiencecard:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}


.experiencecard__position{
    background-color: var(--primary-color);
    color:  antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.experiencecard__text-title{
    font-weight: bold;
    text-decoration: underline;
}

li{
    text-wrap: balance;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


.experiencecard__position-text{
    text-transform: uppercase;
    margin: 5px;
    font-weight: bold;
    padding: 0 16px 8px 16px;
}

.experiencecard__expand-title{
    color: var(--primary-color);
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1.5em 0fr;
    border-radius: 12px;
    border: 2px solid  var(--primary-color);
}

.experiencecard__expand-company{
    background-color: var(--primary-color);
    color:  antiquewhite;
    text-transform: uppercase;
}

.open{
    height: auto;
}

.experiencecard__position{
    height: auto;
}

.experiencecard__expand-title-text{
    height: auto;
}

ul{
    text-align: left;
    list-style: none;
    padding: 0 12px 0 20px;
}

.experiencecard__title{
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    .experiencecard{
        margin: 20px 5%;
    }
}