
.projectscard{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.projectscard__title{
    width: 150px;  /* Set the width of the circle */
    height: 150px; /* Set the height of the circle */
    background-color: #3498db; /* Set the background color */
    border-radius: 50%; /* This makes the div circular */
    background-image: url(../../me.jpg);
    box-shadow: 0px 0px 5px 0px #000 inset;
}


.projectscard__link{
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 50%;
}

.projectscard:hover .projectscard__link{
    opacity: 1;
    transform: translateX(0px);

}

.projectscard__description{
    text-align: justify;
}

@media screen and (max-width: 500px) {
    .projectscard__title{
        width: 100px;  /* Set the width of the circle */
        height: 100px;
        min-height:0;
    }
    .projectscard__link{
        opacity: 1;
        transform: translateX(0px);
    }
  }
