.footer{
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
    --tw-text-opacity: 1;
    background-color: rgb(0 51 89/var(--tw-text-opacity));
}

.footer__nav{ 
    display: flex;
    gap: 50px;
    justify-content: center;
    
}

.footer__link{
    margin: 20px 0;
    text-transform: uppercase;
    color: antiquewhite;
    
}

.footer__social{
    margin: 20px 20px;
}

.footer__info{
    display: flex;
    flex-direction: column;
    justify-items: left;
    
}

.footer__link:hover{
    color: antiquewhite;
}

.footer__developer{
    margin: 0;
    padding-bottom: 30px;
    color: #888;
    align-self: flex-start;
    
}

.footer__follow{
    font-weight: bold;
}

.footer__link-option{
    height: auto;
    width: 50px;  
}