.contact{
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.title{
    font-size: 50px;
}

.contact__options{
    display: flex;
    justify-content: space-around;
}

.contact__links{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

.contact__link{
    cursor: pointer;
    object-fit: contain;
    transition: transform 0.3s ease;

}

.contact__link:hover {
    transform: scale(1.2); 
  }

.contact__link-option{
    height: auto;
    width: 100px;  
}

.contact__resume-download{
    height: auto;
    width: 20px;  
}
